@model IEnumerable<Web.Models.ViewModels.Store.ProductViewModel>

@{
    ViewBag.Title = ViewBag.CategoryName ?? "Meme Database";
}

@if (!Model.Any())
{
    <div class="h1 alert-danger text-center">This category is empty!</div>
}
else
{
<h2>@ViewBag.CategoryName</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (File.Exists(Server.MapPath("/Images/Uploads/Products/" + item.Id + "/Thumbs/" + item.ImageName)))
                {
                    <a href="/Store/product-details/@item.Slug">
                        <img src="/Images/Uploads/Products/@item.Id/Thumbs/@item.ImageName" />
                    </a>
                }
                else
                {
                    <div class="alert-info text-center">No image provided</div>
                }
            </td>
            <td>
                @Html.ActionLink("Details", "product-details", new { name = item.Slug }, new { @class = "btn btn-primary btn-outline" })
            </td>
        </tr>
    }

</table>
}
