@model IEnumerable<Web.Models.ViewModels.Cart.CartViewModel>

@{
    ViewBag.Title = "Your Cart";
    int cartCount = 1;
}

<h2>Your Cart</h2>

@if (ViewBag.CartMessage != null)
{
    <div class="h3 alert-info text-center">@ViewBag.CartMessage</div>
}
else
{
    <div class="ajaxbg"><span>
        <img src="~/Content/img/loading.gif" />
    </span></div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="qty@(item.ProductId)">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image">
                </td>
                <td>
                    <a href="#" class="incrproduct btn btn-primary btn-outline" data-id="@item.ProductId"><b>+</b></a>
                    <a href="#" class="decrproduct btn btn-primary btn-outline" data-id="@item.ProductId"><b>-</b></a>
                    <a href="#" class="removeproduct btn btn-danger btn-outline" data-id="@item.ProductId">Remove</a>
                </td>
                <td class="total@(item.ProductId)">
                    $@Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal"><b>Grand Total </b>$<span>@ViewBag.CartTotal</span></td>
        </tr>
    </table>

    <form class="paypalform" action="https://www.sandbox.paypal.com/us/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="business" value="youremailhere@email-facilitator.com">
        @foreach (var item in Model)
        {
            <input type="hidden" name="item_name_@cartCount" value="@item.ProductName">
            <input type="hidden" name="amount_@cartCount" value="@item.Price">
            <input type="hidden" name="quantity_@cartCount" value="@item.Quantity">
            @(cartCount++)
        }
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    </form>

    <br />
    <a href="#" class="placeorder btn btn-primary btn-outline pull-right">Checkout</a>
}

@section Scripts {

    <script>
        $(function() {

            //Increment product
            $("a.incrproduct").click(function(e) {
                e.preventDefault();

                var productId = $(this).data("id");
                var url = "/Cart/IncrementProduct";

                $.getJSON(url,
                    { productId: productId },
                    function(data) {

                        $("td.qty" + productId).html(data.qty);

                        var price = data.qty * data.price;
                        var priceHtml = "$" + price.toFixed(2);

                        $("td.total" + productId).html(priceHtml);

                        var grandtotal = parseFloat($("td.grandtotal span").text());
                        grandtotal = (grandtotal + data.price).toFixed(2);

                        $("td.grandtotal span").text(grandtotal);
                    });
            });

            //Increment product
            $("a.decrproduct").click(function(e) {
                e.preventDefault();

                var $this = $(this);
                var productId = $(this).data("id");
                var url = "/Cart/DecrementProduct";

                $.getJSON(url,
                    { productId: productId },
                    function(data) {

                        if (data.qty === 0) {
                            $this.parent().fadeOut("fast",
                                function() {
                                    location.reload();
                                });
                        } else {
                            $("td.qty" + productId).html(data.qty);

                            var price = data.qty * data.price;
                            var priceHtml = "$" + price.toFixed(2);

                            $("td.total" + productId).html(priceHtml);

                            var grandtotal = parseFloat($("td.grandtotal span").text());
                            grandtotal = (grandtotal - data.price).toFixed(2);

                            $("td.grandtotal span").text(grandtotal);
                        }
                    });
            });

            //Remove product
            $("a.removeproduct").click(function (e) {
                e.preventDefault();

                var productId = $(this).data("id");
                var url = "/Cart/RemoveProduct";

                $.get(url,
                    { productId: productId },
                    function () {
                        location.reload();
                    });
            });

        });
    </script>
}