@model Web.Models.ViewModels.Pages.PageViewModel

@{
    ViewBag.Title = "Page Details";
}

<h2>Page Details</h2>

<div>
    <h4>Inspecting the hecking page &#x1F50D;</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Back to Pages", "Index", null, new { @class = "btn btn-primary btn-outline" })
    @Html.ActionLink("Edit", "EditPage", new { id = Model.Id }, new { @class = "btn btn-warning btn-outline", style="margin-left: 10px" })
</p>
